
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+VN:wght@100..400&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Quicksand", sans-serif;
  --font-ishan:"Inter", sans-serif;
  --font-aman:"Jost", sans-serif
}
@keyframes slideIn {
  
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes ZoomIn {
   0%{
    transform: translateY(-100%);
   
    opacity: 0;
   }
   100%{
    transform: translateY(0);
    opacity: 1;
   
    
   }
}
.zoom-in{
  animation: ZoomIn 0.3s ease-out forwards;
}


.slide-in {
  animation: slideIn 0.3s ease-out forwards;
}
.slide-out{
   animation: slideOut 0.3s ease-out forwards;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }